# Dictionary

# List

In [1]:
# list[element1, element2, element3]
#     0       1       2
l1=[1234, "Aresha", "AI"]
#     -3      -2      -1
#list[index]
l1

[1234, 'Aresha', 'AI']

In [2]:
# dict[item1, item2, item3]
# item = key:value

d1 = {'id':2,
     'name':"Aresha",
     'course':"AI",
     'admission date':'15-12-2019',
     'DoB': '17-10-2000'}
d1

{'id': 2,
 'name': 'Aresha',
 'course': 'AI',
 'admission date': '15-12-2019',
 'DoB': '17-10-2000'}

In [3]:
#dict[key]
d1 = {'id':2,
     'name':"Aresha",
     'course':"AI",
     'admission date':'15-12-2019',
     'DoB': '17-10-2000'}
d1
d1['DoB']

'17-10-2000'

In [4]:
d1 = {}
d1['id']=1
d1['name']="Aresha"
d1['course']="AI"

d1

{'id': 1, 'name': 'Aresha', 'course': 'AI'}

In [5]:
d1 = {} # empty dictionary
user_id = input("Enter your ID: ")
d1 ['id'] = user_id
name = input("Enter your Name: ")
d1['name'] = name
d1['skills']=["Python"]
skills = input("Enter your skills with',' operated values: ")
d1['skills']=d1['skills']+skills.split()
d1

Enter your ID: 1234
Enter your Name: are
Enter your skills with',' operated values: c, c==

{'id': '1234', 'name': 'are', 'skills': ['Python', 'c,', 'c==']}

In [8]:
# dict[item1, item2, item3]
# item = key:value

d1 = {'id':2,
     'name':"Aresha",
     'course':"AI",
     'admission date':'15-12-2019',
     'DoB': '17-10-2000'}
d1.clear()
d1

{}

In [7]:
# dict[item1, item2, item3]
# item = key:value

d1 = {'id':2,
     'name':"Aresha",
     'course':"AI",
     'admission date':'15-12-2019',
     'DoB': '17-10-2000'}
print(d1)
del d1
print(d1)

{'id': 2, 'name': 'Aresha', 'course': 'AI', 'admission date': '15-12-2019', 'DoB': '17-10-2000'}

NameError: name 'd1' is not defined

In [9]:
# dict[item1, item2, item3]
# item = key:value

d1 = {'id':2,
     'name':"Aresha",
     'course':"AI",
     'admission date':'15-12-2019',
     'DoB': '17-10-2000'}
print(d1)
d2=d1.copy()
d2

{'id': 2, 'name': 'Aresha', 'course': 'AI', 'admission date': '15-12-2019', 'DoB': '17-10-2000'}

{'id': 2,
 'name': 'Aresha',
 'course': 'AI',
 'admission date': '15-12-2019',
 'DoB': '17-10-2000'}

In [10]:
d2=d1.copy()
d2["id"]=10
print(d1)
print(d2)

{'id': 2, 'name': 'Aresha', 'course': 'AI', 'admission date': '15-12-2019', 'DoB': '17-10-2000'}
{'id': 10, 'name': 'Aresha', 'course': 'AI', 'admission date': '15-12-2019', 'DoB': '17-10-2000'}

In [11]:
# dict[item1, item2, item3]
# item = key:value

d1 = {'id':2,
     'name':"Aresha",
     'course':"AI",
     'admission date':'15-12-2019',
     'DoB': '17-10-2000'}
d1
d1.items

In [12]:
l1 = ['id', 'name', 'course', 'timing', 'address', 'DoB']
l1
d1=dict.fromkeys(l1)
print(d1)

{'id': None, 'name': None, 'course': None, 'timing': None, 'address': None, 'DoB': None}

In [14]:
l1 = input("Enter comma separated values:")
l1= l1.split(",")
print(l1)
l2 = input ("Enter your keys:")
l2=l2.split(",")
print(l2)
d1= dict.fromkeys(l1, "NA")
d2= dict.fromkeys(l2, "NA")
print(d1)
print(d2)

Enter comma separated values:a, b, c
['a', ' b', ' c']
Enter your keys:b, d, e
['b', ' d', ' e']
{'a': 'NA', ' b': 'NA', ' c': 'NA'}
{'b': 'NA', ' d': 'NA', ' e': 'NA'}

In [15]:
l1 = input("Enter comma separated values:")
l1= l1.split(",")
print(l1)
d1= dict.fromkeys(l1, "NA")
print(d1)

Enter comma separated values:a, c
['a', ' c']
{'a': 'NA', ' c': 'NA'}

In [17]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']
l3 = list(zip(l1,l2))
print(l3)
d1 = dict(l3)
print(d1)

[('a', 'x'), ('b', 'y'), ('c', 'z')]
{'a': 'x', 'b': 'y', 'c': 'z'}

In [21]:
l1 = input("keys").split(",")
l2 = input("values").split(",")
l3 = list(zip(l1,l2))
print(l3)
d1 = dict(l3)
print(d1)

keysa, d, g
valuess, f
[('a', 's'), (' d', ' f')]
{'a': 's', ' d': ' f'}

In [24]:
print(d1)
print(d1.get('f'))
# if key is available then extract it, error will not generate
print(d1.get('f', "Vlue does not Exist.:("))

{'a': 's', ' d': ' f'}
None
Vlue does not Exist.:(

In [25]:
print(d1)
d1.items()

{'a': 's', ' d': ' f'}

dict_items([('a', 's'), (' d', ' f')])

In [26]:
print(d1)
d1.keys()

{'a': 's', ' d': ' f'}

dict_keys(['a', ' d'])

In [27]:
print(d1)
d1.pop('a')#it removes, will return value

{'a': 's', ' d': ' f'}

's'

In [35]:
d1 = {'a': 's', ' d': ' f'}
d1
d1.popitem()

(' d', ' f')

In [36]:
d1 = {'a': 's', ' d': ' f'}
d1
d1.setdefault('abc','ser')
d1

{'a': 's', ' d': ' f', 'abc': 'ser'}

In [38]:
d1 = {'a': 's', ' d': ' f'}
d2 = {'a': 'ss', 'e': 'ff'}
d1.update(d2)
d1

{'a': 'ss', ' d': ' f', 'e': 'ff'}

In [42]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
for i,j in sorted (d1.items(), reverse=True):
    print(i,j)

f 6
e 5
d 4
c 3
b 2
a 1

In [44]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
print(d1)
{k:v for k,v in sorted(d1.items(), key = lambda item: item[1])}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [45]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [46]:
list(d1.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6)]

In [ ]:
l1 = [('A',2,'c'),
('B',3,'d'),
('C',4,'e')]

In [49]:
l1 = [('A',2,'c'),
('B',3,'d'),
('C',4,'e')]
def abc(x):
    return x[0]
    
sorted(l1, key = abc)

[('A', 2, 'c'), ('B', 3, 'd'), ('C', 4, 'e')]

In [ ]:
list = []# simple list to store all student data
x = ''